{% extends "base.html" %}
{% load staticfiles %}

{% block page_head %}
	<link rel="stylesheet" href="{% static 'css/leaflet.css' %}" />
{% endblock %}

{% block title %}Genus Detail{% endblock %}

{% block content %}
<p>Other Common Genera in the Collection (navigation)</p>

<ul>
	{% for g in genus_menu_list %}
		<li><a href="{{g.get_absolute_url}}">{{g.common_name}}</a></li>
	{% endfor %}
</ul>
	
{% if genus %}

	<h2>{{genus.common_name}}</h2>
	<h3 class="scientific-name">{{genus.genus_name}}</h3>
	<h4>{{genus.trees.count}} Trees Found</h4>
	
	<div id="map"></div>
	
	{% for t in genus.trees.all %}
		<p><a href="{% url 'trees:tree_detail_url' t.city_tree_id %}">{{t.city_tree_id}}: {{t.common_name}}</a></p>
	{% endfor %}
	
{% else %}
	<p>No trees found with genus: {{genus.genus_name}}</p>
{% endif %}

{% endblock %}


{% block after_jquery %}
	<script src="{% static 'js/leaflet.js' %}"></script>
{% endblock %}

{% block document_ready_javascript %}

	var map = L.map('map').setView([45.52, -122.65], 11);
	
	L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Street_Map/MapServer/tile/{z}/{y}/{x}', {
		attribution: 'Tiles &copy; Esri &mdash; Source: Esri, DeLorme, NAVTEQ, USGS, Intermap, iPC, NRCAN, Esri Japan, METI, Esri China (Hong Kong), Esri (Thailand), TomTom, 2012'
	}).addTo(map);
	
	function onEachFeature(feature, layer) {
		layer.bindPopup(feature.properties.title);
	}
	
	trees = {{geojson|safe}}
	
	L.geoJson(trees, {

		onEachFeature: onEachFeature,

		pointToLayer: function (feature, latlng) {
			return L.circleMarker(latlng, {
				radius: 8,
				fillColor: "#33cc00",
				color: "#000",
				weight: 1,
				opacity: 1,
				fillOpacity: 0.8
			});
		}
	}).addTo(map);
	
{% endblock %}

