{% extends "base.html" %}
{% load staticfiles %}
{% load pdxtree_snippets %}

{% block page_title %}Add Content to a Tree{% endblock %}

{% block page_head %}
	{% map_div_headers %}
{% endblock %}

{% block content %}

<div class="pdxt-unified-row">
	<div class="pdxt-single-column">
		<h2>Add Supplemental Content</h2>
	</div>
</div>

<div class="pdxt-split-row">
	<div class="pdxt-left-column">
		
		<form enctype="multipart/form-data" action="{% url 'trees:tree_add_content_url' tree.city_tree_id %}" method="post">
			{% csrf_token %}
		
			{{ content_form.as_p }}
			
			<p>Please note: By submitting material to this site, you are allowing the display and re-use under the Creative Commons Attribution-ShareAlike license. For more information, please see the <a href="https://creativecommons.org/licenses/">Creative Commons License Page</a>.</p>
			
			<input type="submit" value="Save" class="pdxt-button" />
		</form>
		
	</div>
	<div class="pdxt-right-column">
		<h2 class="tree-detail-common-name">{{tree.common_name}}</h2>
		<h3 class="tree-detail-scientific-name scientific-name">{{tree.scientific_name}}</h3>
		<h4>Genus: <a href="{{tree.genus.get_absolute_url}}">{{tree.genus.common_name}} <span class="scientific-name">({{tree.genus.genus_name}})</span></a></h4>
		<div id="map"></div>
	</div>
</div>

{% endblock %}

{% block document_ready_javascript %}
	{% map_div_js tree.latitude tree.longitude 15 'map' %}
{% endblock %}