// Greens:
@pdxt-green-dark: #36593E;
@pdxt-green: lighten(#36593E, 20%);
@pdxt-green-light: lighten(#36593E, 30%);
@pdxt-green-lighter: lighten(#36593E, 50%);

// Tans and Browns:
@pdxt-tan: #D9C66A;
@pdxt-dark-brown: #4A3823;
@pdxt-mocha: #A77C51;

// Purples:
@pdxt-lavender: #8F88BF;
@pdxt-purple: #393459;


// Semantic colors
@pdxt-color: @pdxt-dark-brown;
@pdxt-bg-color: #ffffff;

@pdxt-link-color: @pdxt-green;